/*  =========================================================================
    atoms.icon
    Icon system based on svg sprites
    ========================================================================= */

/*  Imports
    ========================================================================= */

@import "engine";



/*  Module
    ========================================================================= */

.c-icon {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/**
 * Sizes
 */
.c-icon--alpha {
  width: 75px;
  height: 75px;
}
