/*  =========================================================================
    Background-visual
    ========================================================================= */

/*  Imports
    ========================================================================= */

@import "engine";



/*  Component
    ========================================================================= */

.c-bg-visual {
  background-color: $black;
  color: $white;
  position: relative;
  overflow: hidden;

  //&.is-hidden {
  //  .c-bg-visual__visual {
  //    opacity: 0.2;
  //  }
  //}

  &.flexembed__item {
    position: absolute;
  }
}



.c-bg-visual__video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.c-bg-visual__visual {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 1;
  transition: opacity 1s linear;
}

.c-bg-visual--has-content {
  &::after,
  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparentize($black, 0.8);
  }

  &::before {
    left: 50%;
  }
}
