/*  =========================================================================
    foundation.atoms.heading
    ========================================================================= */

/*  Imports
    ========================================================================= */

@import "engine";



/*  Headings
    ========================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-secondary;
  line-height: 0.9;
  font-weight: bold;
  margin-bottom: $inuit-global-spacing-unit-small;

  a {
    color: $black;
    transition: color $base-transition-duration-short linear;

    &:hover,
    &:focus,
    &:active {
      color: $green;
    }
  }

  b,
  strong {
    color: $green;
  }
}


.u-h0 {
  @include inuit-font-size($inuit-font-size-h0);
}



/*  Theming
    ========================================================================= */

.t-bg--black {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &,
    a {
      color: $white;
    }
  }
}
