/*  =========================================================================
    FOUNDATION.COMPONENT.RTE
    ========================================================================= */

/*  Imports
    ========================================================================= */
@import "engine";

/*  Module
    ========================================================================= */

.c-rte {
  img {
    height: auto !important;
  }

  ul {
    overflow: hidden;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      //background-color: $brand-primary-a;
      color: $white;
    }

    &,
    th,
    td {
      border: 1px solid $gray-medium;
      vertical-align: top;
    }

    th,
    td {
      @include blocss-rem(padding, $blocss-space-tiny);
    }
  }
}

.c-rte--intro {
  line-height: 1.33;
}
