/*  =========================================================================
    Header
    Main navigation
    ========================================================================= */

@import "engine";



/*  Module
    ========================================================================= */

.c-header {
  background-color: $black;
  padding: $supple-space-tiny;
  box-shadow: 0 0 $supple-space-small transparentize($black, 0.5);
  display: grid;
  grid-template-columns: 1fr auto;
}

.c-header__logo {
  margin-right: $supple-space-small;
  width: 52px;
  height: 52px;
  display: block;
}



/*  Responsive
    ========================================================================= */

@include supple-mq(desk) {
  .c-header {
    grid-template-columns: 1fr auto 1fr;
  }
}
