/*  =========================================================================
    Utilities.Layout.spacing
    Margin and padding helper classes.
    Use these to tweak layout on a micro level.
    ========================================================================= */

/*  Margins
    ========================================================================= */

.u-mb {
  margin-bottom: $blocss-space;
}

.u-mb--large {
  margin-bottom: $blocss-space-large;
}

.u-mb--small {
  margin-bottom: $blocss-space-small;
}

.u-mb--huge {
  margin-bottom: $blocss-space * 3;
}

.u-mb--tiny {
  margin-bottom: $blocss-space-tiny;
}

.u-mb-flatten {
  margin-bottom: 0;
}

.u-mt {
  margin-top: $blocss-space;
}

.u-mt-flatten {
  margin-top: 0;
}

.u-mb--negative {
  margin-bottom: -$blocss-space;
}

.u-mb--small\@palm {
  margin-bottom: $blocss-space-small;
}



/*  Paddings
    ========================================================================= */

.u-pb {
  padding-bottom: $blocss-space;
}

.u-pl {
  padding-left: $blocss-space;
}

.u-pt {
  padding-top: $blocss-space;
}
