/*  =========================================================================
    Foundation.Atoms.Layout.Retain
    ========================================================================= */

/*  Imports
    ========================================================================= */

@import "engine";



/*  Module
    ========================================================================= */

.o-retain {
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
  padding-left: $blocss-space-small;
  padding-right: $blocss-space-small;
}

.o-retain--full {
  padding-left: 0;
  padding-right: 0;
}



/*  Responsive
    ========================================================================= */

@include blocss-media-query(lap) {
  .o-retain,
  .o-retain--desk {
    padding-left: $blocss-space;
    padding-right: $blocss-space;
  }

  .o-retain--full {
    padding-left: 0;
    padding-right: 0;
  }
}

@include blocss-media-query(desk) {
  .o-retain,
  .o-retain--desk {
    padding-left: 9%;
    padding-right: 9%;
  }

  .o-retain--narrow {
    max-width: 48em;
    //padding-left: $blocss-space * 6;
    //padding-right: $blocss-space * 6;
  }

  .o-retain--full {
    padding-left: 0;
    padding-right: 0;
  }
}
