@import "engine";

.c-menu-toggle {
  padding: $inuit-global-spacing-unit-tiny;
  //padding: $blocss-space-tiny;
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: $white;
  line-height: 1;

  &.is-open {
    text-decoration: none;

    .c-menu-toggle__dash--middle {
      transform: scaleX(0);
    }

    .c-menu-toggle__dash--top {
      transform: translate(-4.5px, 4.5px) rotate(45deg);
    }

    .c-menu-toggle__dash--bottom {
      transform: translate(-4.5px, -4.5px) rotate(-45deg);
    }
  }

  #{$global-interaction-states} {
    color: $white;
  }
}

.c-menu-toggle__icon {
  overflow: visible;
}

.c-menu-toggle__dash {
  transition: transform $base-transition-duration $base-timing-function;
  transform-origin: center;
}

.c-menu-toggle__label {
  @include inuit-font-size(10px, false);
  //@include blocss-font-size(10px, false);

  display: block;
}
